html
    head
        link(rel="stylesheet" type="text/css" href="../css/General.css")
        title Review
body
    script(src="/app/js/addMovie.js")
    div#main
        div(class='header')
            div(class='center')
              <form class="form"> 
              <input class="input" type="search" id="query" name="q" placeholder="Search Title, Genre, Actor Name..."">
              <button class = "sbutton" type="button" onclick="window.location.href='http://localhost:3000/searchresults?'">
              <svg viewBox="0 0 1024 1024"><path class="path1" d="M848.471 928l-263.059-263.059c-48.941 36.706-110.118 55.059-177.412 55.059-171.294 0-312-140.706-312-312s140.706-312 312-312c171.294 0 312 140.706 312 312 0 67.294-24.471 128.471-55.059 177.412l263.059 263.059-79.529 79.529zM189.623 408.078c0 121.364 97.091 218.455 218.455 218.455s218.455-97.091 218.455-218.455c0-121.364-103.159-218.455-218.455-218.455-121.364 0-218.455 97.091-218.455 218.455z"></path></svg>
              </button>
              </form>
        ul 
          li  
           a(href="http://localhost:3000/contribut") Contribute
          li
           a(href="http://localhost:3000/search") Search
          li 
           a(href="http://localhost:3000/login") Sign In/Up
          li 
           a(href="http://localhost:3000/ownprofille") Profile
          li 
           a(href="http://localhost:3000") Home 
        br
        
        h1 Add an Actor:
        div(class="div")        
          form
            a Actor Name: 
            input(type="text" id="name" )
            br
            input(type="submit" value="Add Actor" onclick = "submit1()")

        h1 Add a Movie: 
        div(class="div")
          form
            a Title
            input(type="text" id="title"  required)
            br
            a Runime
            input(type="text" id="runtime" )
            br
            a Release Year
            input(type="text" id="releaseyear" )
            br
            a Writers
            input(type="text" id="writers" )
            br
            a Directors
            input(type="text" id="directors" )
            br
            a Actors
            input(type="text" id="actors" )
            br
            input(type="submit" value="Add Movie" onclick="submit2()")

