html
    head
        title moive data base
body

    div#main
        a(href="http://localhost:3000") Home 
        a(href="/ownprofille") Profile
        a(href="/login") Sign In/Up
        a(href="http://localhost:3000/search") Search
        a(href="http://localhost:3000/contribut") Contribute 
        br       
        h1 welcome to my moive data base!
        
