html
    head
        link(rel="stylesheet" type="text/css" href="../css/General.css")
        title Review
body
    h1 Already logged in.
    br
    div(class="div")
           form(action="/logout" method = "post")
            br
            input(type="submit" value="Log out" )